* {
  --orange: #fa7b33;
  --orange-3-values: 250, 123, 51;
  --font-stack: 'Readex Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-stack);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

 .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.color-orange { 
  color: #FA7B33;
}

.color-charcoal {
  color: #222;
}

.background-charcoal {
  background: #222;
}

.color-white {
  color: white;
}