.container {
}

.main {
    padding-top: 4rem;
  min-height: 100vh;
}

.content {
  width: 100%;
  padding: 5rem 2rem;
  font-size: 24px;
}

.content h2, .content a {
  color: var(--orange);
}

.content a {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .content {
    padding: 5rem 5rem;
  }
}

@media (min-width: 800px) {
  .content {
    padding: 2rem 10rem;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  font-weight: 600;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1.2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.content {
  overflow: hidden;
}

@media (min-width: 800px) {
  .innerContent {
    max-width: 60vw;
  }  
  .title {
    transform: scale(160%);
  }
}

.innerContent span {
  font-weight: bold;
}

.innerContent span:nth-child(3n+1) {
  color: rgb(196, 59, 91);
}

.innerContent span:nth-child(3n+2) {
  color: rgb(28, 155, 94);
}

.innerContent h2 {
  margin-block-start: 0.37em;
  margin-block-end: 0.37em;
}

.innerContent span:nth-child(3n+3) {
  color: rgb(45, 74, 136);
}

@media (min-width: 1200px) {
  .main {
    width: calc(100vw);
  }  .sponsors {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 350px;
    height: 100%;
    background: black;
    color: white;
    padding: 30px;
    z-index: 24;
  }
}

@media (max-width: 400px) {
  .description {
    margin-top: 0.2rem;
    font-size: 1.2rem;
  }
  .inputCenter {
    margin-top: 3.4rem!important;
  }
}

@media (max-width: 1199px) {
  .sponsors {
    background: black;
    color: white;
    padding: 30px;
  }
}
.sponsors {

}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border-radius: 8px;
  background-color: var(--orange);
  border: none;
  color: white;
  cursor: pointer;
  font-family: var(--font-stack);
  margin-bottom: 16px;
  transition: 0.3s all;
}

.button:hover {
  transform: translateY(-4px);
}

.altButton {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border-radius: 8px;
  background: black;
  margin-bottom: 16px;
  border: 2px solid var(--orange);
  color: white;
  cursor: pointer;
  font-family: var(--font-stack);
  transition: 0.3s all;
}

.altButton:hover {
  transform: translateY(-4px);
}

.input {

  width: 100%;
  padding: 10px;
  font-size: 24px;
  border-radius: 8px;
  background-color: var(--orange);
  border: none;
  color: white;
  cursor: pointer;
  font-family: var(--font-stack);
  margin-bottom: 16px;
  transition: 0.3s all;
  outline: none;
  border: 2px solid var(--orange)
}

.input:focus, .input:focus-within {
  border: 2px solid white;
}

.button:hover {
  box-shadow: 0px 2px 20px #00000099;
}

.scaleHover:hover, .sponsor:hover {
  transform: scale(1.07);
}

.sponsor:not(.sponsor-special) {
  transition: 0.2s all;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width: 256px;
}